doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1= title
        if garage.isDoorOpen()
            p Garage is Open!
        else
            p Garage is Closed!
        p #[a#toggle_link(href="garage/toggle") Toggle Door]
