doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1= title
        if garage.isDoorOpen()
            p Garage is Open!
        else
            p Garage is Closed!
        p #[a(href="garage/toggle") Toggle Door]
        if authenticated
            p Authenticated!
        else
            p #[a(href="login") Please Authenticate]
